:root {
    --pry-color: #003B49;
    --sec-color: #2DCD7C;

    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: rgba(2, 2, 2, 0.8);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(2, 2, 2, 0.4);
}

.pad0{
    padding: 0 !important;
}
.pad-l-0{
    padding-left: 0 !important;
}
.pad-r-0{
    padding-right: 0 !important;
}
.hidden{
    display: none;
}
.reg-txt{
    font-family: var(--font);
}
.smbold-txt{
    font-family: var(--font-smbold);
}
.bold-txt{
    font-family: var(--font-bold);
}
.xbold-txt{
    font-family: var(--font-xbold);
}
.light-txt{
    font-family: var(--font-light);
}
/* .xlight-txt{
    font-family: var(--font-xlite);
} */
.pry-font{
    font-family: var(--font);
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.text-justify{
    text-align: justify;
}
.pry-color{
    color: var(--pry-color);
}
.sec-color{
    color: var(--sec-color);
}
.pry-bg{
    background-color: var(--pry-color);
    color: white;
}
.sec-bg{
    background-color: var(--sec-color);
    color: #161616;
}

.white-bg{
    background-color: white;
    color: black;
}
.white-txt{
    color: white !important;
}
.black-txt{
    color: black !important;
}
.black-bg{
    background-color: black;
    color: white;
}
.sm-black-bg{
    background-color: #1C1C1C;
    color: white;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.hidden-xs{
    display: block;
}
.visible-xs{
    display: none;
}
.hidden-xs-sm{
    display: block !important;
}
.visible-xs-sm{
    display: none !important;
}
.flex-div{
    display: flex;
    align-items: center;
}
.justify-content-btw {
    justify-content: space-between;
}
.mag-0{
    margin: 0 !important;
}
.mag-bottom-0{
    margin-bottom: 0 !important;
}
.mag-top-0{
    margin-top: 0 !important;
}
.pointer {
    cursor: pointer;
}
.hover-scale {
    transition: all 1.5s !important;
}
.hover-scale:hover {
    transform: scale(1.1);
}
img {
    max-width: 100%;
}

nav.main-nav {
    position: fixed;
    background-color: transparent;
    width: 100%;
    box-shadow: none;
    height: 80px;
    z-index: 10;
    /* font-family: var(--font); */
    font-weight: bold;
    top: 0;
}
nav.main-nav .anchor-links a {
    color: var(--pry-color);
    font-weight: bold;
}
nav.main-nav.scrolled-nav {
    background-color: rgba(251, 251, 251, 0.9);
}
nav.main-nav.scrolled-nav .anchor-links a {
    color: var(--pry-color);
    font-weight: bold;
}

section#hero {
    height: 100vh;
    min-height: 600px;
    position: relative;
}
canvas#header_canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.home-content-wrapper {
    margin: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.nav-link-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-link-btns a {
    padding: 10px 25px;
    border-radius: 24px;
}
.nav-pry-btn {
    background-color: white;
    color: var(--pry-color);
    border: 1px solid var(--pry-color);
}
.nav-sec-btn {
    background-color: var(--pry-color);
    color: white;
    border: 1px solid white;
}

h1.home-title {
    font-size: 450%;
    font-size: 4.75vw;
    font-weight: 700;
    line-height: 1;
}
a.hero-learnmore-btn {
    display: block;
    width: 190px;
    text-align: center;
    height: 62px;
    line-height: 62px;
    padding: 0;
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid var(--sec-color);
}
ul.industries-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
ul.industries-list li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}
img.industry-icon {
    width: 35px;
}
h2.section-title {
    font-size: 38px;
    color: var(--pry-color);
    text-align: left;
    margin-bottom: 22px;
}
h2.section-title.text-center {
    text-align: center;
}
h2.section-title.text-white {
    color: white;
}
section#how-to-apply ol li > div{
    position: relative;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
section#how-to-apply ol li:nth-child(even) {
    float: right;
}
section#how-to-apply ol li:nth-child(even) > div {
    background-color: var(--pry-color);
    color: white;
    float: right;
    padding-right: 40px;
}
section#how-to-apply ol li:nth-child(odd) {
    float: left;
}
section#how-to-apply ol li:nth-child(odd) > div {
    background-color: var(--sec-color);
    color: var(--pry-color);
    float: left;
    padding-left: 40px;
}
section#how-to-apply ol li:not(:last-child) {
    margin-bottom: 20px;
}
span.hta-num {
    position: absolute;
    top: -30px;
    font-weight: bolder;
    font-size: 40px;
    display: inline-block;
    background: gray;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: white;
}
section#how-to-apply ol li:nth-child(even) span.hta-num {
    right: -30px;
    background-color: var(--sec-color);
    /* color: var(--pry-color); */
}
section#how-to-apply ol li:nth-child(odd) span.hta-num {
    left: -30px;
    background-color: var(--pry-color);
}

.contact-us-block {
    border-radius: 20px;
    padding: 30px;
}

@media(min-width: 993px) {
    section#how-to-apply ol {
        width: 90%;
        margin-left: 5%;
    }
    section#how-to-apply ol li {
        width: 100%;
    }
    section#how-to-apply ol li > div {
        width: 50%;
    }
}


/* Footer Section */
.social-icon {
    width: 25px;
}
